body {
    font-family: 'Georgia, serif';
    background-color: #eaeaea;
    margin: 10;
    padding: 10;
    display: run-in;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    max-width: 450px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.card-content {
    padding: 25px;
}

.card-content h3 {
    margin: 0 0 10px;
    color: #222;
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-content p {
    color: #444;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}